/*
    GLOBAL STYLES FOR APPLICATION
*/
/***************************************************************************************
     Custom Fresenius Styles
****************************************************************************************/
html {
  min-height: 100%;
  font-size: .9rem; }

body {
  min-height: 100%;
  padding-bottom: 50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002e58+0,019fdc+71,ffffff+100 */
  background: #002e58;
  /* Old browsers */ }
