/*
    GLOBAL STYLES FOR APPLICATION
*/



/***************************************************************************************
     Custom Fresenius Styles
****************************************************************************************/
html {
    min-height: 100%;
    font-size: .9rem;
}

body {
    min-height: 100%;
    padding-bottom: 50px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002e58+0,019fdc+71,ffffff+100 */
    background: #002e58; /* Old browsers */
    // background: -moz-linear-gradient(top, #002e58 0%, #019fdc 71%, #ffffff 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, #002e58 0%,#019fdc 71%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, #002e58 0%,#019fdc 71%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e58', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

